# Les Manipulations Propres À Mon Fichier

In [135]:
import numpy as np
import pandas as pd

source = "data/HDR_2007-2008_Table_22..xls"

df = pd.read_excel(source)
df.head(12)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,… while preserving it for future generations…,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,22 Energy and the environment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Forest area,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,Electricity consumption \nper capita,NaN,NaN,NaN,Electrification rate,NaN,Population without electricity,...,% of total land area,NaN,Total,NaN,Total change,NaN,Average annual change,NaN,NaN,NaN
11,HDI rank,NaN,NaN,\n (kilowatt-hours),NaN,(% change),NaN,(%),NaN,(millions),...,(%),NaN,(thousand sq km),NaN,(thousand sq km),NaN,(%),NaN,NaN,NaN

In [136]:
df = pd.read_excel(source, header=9) # Positione l'en-tête à la ligne 7
df = df.dropna(how="all", axis=1)    # Supprime toute les colonnes vides "na"
df = df.dropna(how="all", axis=0).reset_index(drop=True) # Recommence le décompte des les ligne
df.head(6)

,Unnamed: 0,Unnamed: 1,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Forest area,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,Electricity consumption \nper capita,NaN,NaN,NaN,Electrification rate,NaN,Population without electricity,NaN,GDP per unit of energy use,NaN,NaN,% of total land area,NaN,Total,NaN,Total change,NaN,Average annual change
2,HDI rank,NaN,\n (kilowatt-hours),NaN,(% change),NaN,(%),NaN,(millions),NaN,\n(2000 PPP US$ per kg of oil equivalent),NaN,(% change),(%),NaN,(thousand sq km),NaN,(thousand sq km),NaN,(%)
3,NaN,NaN,2004,NaN,\n1990-2004,NaN,2000-05a,NaN,2005,NaN,2004,NaN,\n1990-2004,2005,NaN,2005,NaN,1990-2005,NaN,1990-2005
4,HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1,Iceland,"29,430",NaN,66.4,NaN,100,NaN,..,NaN,2.5,NaN,-12.1,0.5,NaN,0.5,NaN,0.2,NaN,5.6

In [137]:
# Pour écrir les en-têtes sur plusieurs lignes sur une seule ligne
columns = []

for c in df.columns:
    columns.append([str(v) for v in df[c][:4] if pd.notnull(v)])

columns

[['HDI rank'],
 [],
 ['Electricity consumption \nper capita', '\n (kilowatt-hours)', '2004'],
 [],
 ['(% change)', '\n1990-2004'],
 [],
 ['Electrification rate', '(%)', '2000-05a'],
 [],
 ['Population without  electricity', '(millions)', '2005'],
 [],
 ['GDP per unit of energy use',
  '\n(2000 PPP US$ per kg of oil equivalent)',
  '2004'],
 [],
 ['(% change)', '\n1990-2004'],
 ['Forest area', '% of total land area', '(%)', '2005'],
 [],
 ['Total', '(thousand sq km) ', '2005'],
 [],
 ['Total change', '(thousand sq km)', '1990-2005'],
 [],
 ['Average annual change', '(%) ', '1990-2005']]

In [138]:
columns = [
    'HDI rank',
    'Country',
    'Electricity consumption per capita (kilowatt-hours) 2004',
    'Reference 1',
    'Electricity consumption per capita (% change) 1990-2004',
    'Reference 2',
    'Electrification rate (%) 2000-05a',
    'Reference 3',
    'Population without  electricity (millions) 2005',
    'Reference 4',
    'GDP per unit of energy use (2000 PPP US$ per kg of oil equivalent) 2004',
    'Reference 5',
    'GDP per unit of energy use (% change) 1990-2004',
    'Forest area % of total land area (%) 2005',
    'Reference 6',
    'Forest area Total (thousand sq km) 2005',
    'Reference 7',
    'Forest area Total change (thousand sq km) 1990-2005',
    'Reference 8',
    'Forest area Average annual change (%) 1990-2005'
]

df.columns = columns

df = df.drop(np.arange(4), axis=0).reset_index(drop=True)
df.head()

,HDI rank,Country,Electricity consumption per capita (kilowatt-hours) 2004,Reference 1,Electricity consumption per capita (% change) 1990-2004,Reference 2,Electrification rate (%) 2000-05a,Reference 3,Population without electricity (millions) 2005,Reference 4,GDP per unit of energy use (2000 PPP US$ per kg of oil equivalent) 2004,Reference 5,GDP per unit of energy use (% change) 1990-2004,Forest area % of total land area (%) 2005,Reference 6,Forest area Total (thousand sq km) 2005,Reference 7,Forest area Total change (thousand sq km) 1990-2005,Reference 8,Forest area Average annual change (%) 1990-2005
0,HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Iceland,"29,430",NaN,66.4,NaN,100,NaN,..,NaN,2.5,NaN,-12.1,0.5,NaN,0.5,NaN,0.2,NaN,5.6
2,2,Norway,"26,657",NaN,6.5,NaN,100,NaN,..,NaN,5.9,NaN,15.9,30.7,NaN,93.9,NaN,2.6,NaN,0.2
3,3,Australia,"11,849",NaN,30.4,NaN,100,NaN,..,NaN,4.8,NaN,21.3,21.3,NaN,"1,636.8",NaN,-42.3,NaN,-0.2
4,4,Canada,"18,408",NaN,5.9,NaN,100,NaN,..,NaN,3.4,NaN,12.5,33.6,NaN,"3,101.3",NaN,..,NaN,..

In [139]:
df.tail(30)

,HDI rank,Country,Electricity consumption per capita (kilowatt-hours) 2004,Reference 1,Electricity consumption per capita (% change) 1990-2004,Reference 2,Electrification rate (%) 2000-05a,Reference 3,Population without electricity (millions) 2005,Reference 4,GDP per unit of energy use (2000 PPP US$ per kg of oil equivalent) 2004,Reference 5,GDP per unit of energy use (% change) 1990-2004,Forest area % of total land area (%) 2005,Reference 6,Forest area Total (thousand sq km) 2005,Reference 7,Forest area Total change (thousand sq km) 1990-2005,Reference 8,Forest area Average annual change (%) 1990-2005
170,168,Congo (Democratic Republic of the),92,NaN,-42.1,NaN,6,NaN,53.8,NaN,2.2,NaN,-55.8,58.9,NaN,"1,336.1",NaN,-69.2,NaN,-0.3
171,169,Ethiopia,36,NaN,..,NaN,15,NaN,60.8,NaN,2.8,NaN,5.8,11.9,NaN,130.0,NaN,-21.1,NaN,-0.9
172,170,Chad,11,e,-31.3,NaN,..,NaN,..,NaN,..,NaN,..,9.5,NaN,119.2,NaN,-11.9,NaN,-0.6
173,171,Central African Republic,28,e,-12.5,NaN,..,NaN,..,NaN,..,NaN,..,36.5,NaN,227.6,NaN,-4.5,NaN,-0.1
174,172,Mozambique,545,NaN,856.1,NaN,6,NaN,18.6,NaN,2.6,NaN,105.8,24.6,NaN,192.6,NaN,-7.5,NaN,-0.2
175,173,Mali,41,e,36.7,NaN,..,NaN,..,NaN,..,NaN,..,10.3,NaN,125.7,NaN,-15.0,NaN,-0.7
176,174,Niger,40,e,-13.0,NaN,..,NaN,..,NaN,..,NaN,..,1.0,NaN,12.7,NaN,-6.8,NaN,-2.3
177,175,Guinea-Bissau,44,e,4.8,NaN,..,NaN,..,NaN,..,NaN,..,73.7,NaN,20.7,NaN,-1.4,NaN,-0.4
178,176,Burkina Faso,31,e,55.0,NaN,7,NaN,12.4,NaN,..,NaN,..,29.0,NaN,67.9,NaN,-3.6,NaN,-0.3
179,177,Sierra Leone,24,NaN,-54.7,NaN,..,NaN,..,NaN,..,NaN,..,38.5,NaN,27.5,NaN,-2.9,NaN,-0.6
180,Developing countries,NaN,"1,221",NaN,..,NaN,68,j,"1,569.0",j,4.6,NaN,..,27.9,NaN,"21,147.8",NaN,"-1,381.7",NaN,-0.4
181,Least developed countries,NaN,119,NaN,..,NaN,..,NaN,..,NaN,..,NaN,..,27.5,NaN,"5,541.6",NaN,-583.6,NaN,-0.6
182,Arab States,NaN,"1,841",NaN,..,NaN,..,NaN,..,NaN,3.4,NaN,..,7.2,NaN,877.7,NaN,-88.0,NaN,-0.6
183,East Asia and the Pacific,NaN,"1,599",NaN,..,NaN,..,NaN,..,NaN,..,NaN,..,28.6,NaN,"4,579.3",NaN,-75.5,NaN,0.1
184,Latin America and the Caribbean,NaN,"2,043",NaN,..,NaN,90,j,45.0,j,6.2,NaN,..,45.9,NaN,"9,159.0",NaN,-686.3,NaN,-0.5
185,South Asia,NaN,628,NaN,..,NaN,..,NaN,..,NaN,5.1,NaN,..,14.2,NaN,911.8,NaN,12.5,NaN,0.1
186,Sub-Saharan Africa,NaN,478,NaN,..,NaN,26,j,547.0,j,..,NaN,..,26.8,NaN,"5,516.4",NaN,-549.6,NaN,-0.6
187,Central and Eastern Europe and the CIS,NaN,"4,539",NaN,..,NaN,..,NaN,..,NaN,2.6,NaN,..,38.3,NaN,"8,856.5",NaN,22.7,NaN,(.)
188,OECD,NaN,"8,795",NaN,..,NaN,100,NaN,..,NaN,5.3,NaN,..,30.9,NaN,"10,382.4",NaN,67.9,NaN,0.1
189,High-income OECD,NaN,"10,360",NaN,..,NaN,100,NaN,..,NaN,5.3,NaN,..,31.2,NaN,"9,480.8",NaN,105.6,NaN,0.1
190,High human development,NaN,"7,518",NaN,..,NaN,99,NaN,..,NaN,5.0,NaN,..,36.2,NaN,"24,327.1",NaN,-366.8,NaN,-0.1
191,Medium human development,NaN,"1,146",NaN,..,NaN,72,NaN,..,NaN,4.5,NaN,..,23.3,NaN,"10,799.6",NaN,-462.4,NaN,-0.2
192,Low human development,NaN,134,NaN,..,NaN,25,NaN,..,NaN,..,NaN,..,29.8,NaN,"4,076.5",NaN,-379.5,NaN,-0.5
193,High income,NaN,"10,210",NaN,..,NaN,100,NaN,..,NaN,5.2,NaN,..,29.2,NaN,"9,548.4",NaN,107.1,NaN,0.1
194,Middle income,NaN,"2,039",NaN,..,NaN,90,NaN,..,NaN,4.2,NaN,..,33.8,NaN,"23,132.3",NaN,-683.1,NaN,-0.2
195,Low income,NaN,449,NaN,..,NaN,45,NaN,..,NaN,..,NaN,..,23.9,NaN,"6,745.6",NaN,-676.2,NaN,-0.6
196,World,NaN,"2,701",j,..,NaN,76,j,"1,577.0",j,4.8,j,..,30.3,j,"39,520.3",j,"-1,252.7",j,-0.2
197,NOTES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,a. Data refer to the most recent year availabl...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199,SOURCES\nColumn 1: UN 2007d.\nColumn 2: calcul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [140]:
df = df.drop(np.arange(180,len(df)), axis=0).reset_index(drop=True)

In [141]:
df.tail()

,HDI rank,Country,Electricity consumption per capita (kilowatt-hours) 2004,Reference 1,Electricity consumption per capita (% change) 1990-2004,Reference 2,Electrification rate (%) 2000-05a,Reference 3,Population without electricity (millions) 2005,Reference 4,GDP per unit of energy use (2000 PPP US$ per kg of oil equivalent) 2004,Reference 5,GDP per unit of energy use (% change) 1990-2004,Forest area % of total land area (%) 2005,Reference 6,Forest area Total (thousand sq km) 2005,Reference 7,Forest area Total change (thousand sq km) 1990-2005,Reference 8,Forest area Average annual change (%) 1990-2005
175,173,Mali,41,e,36.7,NaN,..,NaN,..,NaN,..,NaN,..,10.3,NaN,125.7,NaN,-15.0,NaN,-0.7
176,174,Niger,40,e,-13.0,NaN,..,NaN,..,NaN,..,NaN,..,1.0,NaN,12.7,NaN,-6.8,NaN,-2.3
177,175,Guinea-Bissau,44,e,4.8,NaN,..,NaN,..,NaN,..,NaN,..,73.7,NaN,20.7,NaN,-1.4,NaN,-0.4
178,176,Burkina Faso,31,e,55.0,NaN,7,NaN,12.4,NaN,..,NaN,..,29.0,NaN,67.9,NaN,-3.6,NaN,-0.3
179,177,Sierra Leone,24,NaN,-54.7,NaN,..,NaN,..,NaN,..,NaN,..,38.5,NaN,27.5,NaN,-2.9,NaN,-0.6

In [142]:
hdi_categories = ["HIGH HUMAN DEVELOPMENT", "MEDIUM HUMAN DEVELOPMENT", "LOW HUMAN DEVELOPMENT"]
# Se débarrasser des rangées avec les catégories HDI
# https://stackoverflow.com/a/27360130 & https://stackoverflow.com/a/12098586
df = df.drop(df[df["HDI rank"].isin(hdi_categories)].index, axis=0).reset_index(drop=True)
# Référence pour np.where https://docs.scipy.org/doc/numpy/reference/generated/numpy.where.html
# Pensez que cela ressemble à une déclaration du type "if" : where(test est vrai, vrai-quelque chose, faux-quelque chose)
# ceci peut aussi être imbriqué : where(test is true, true-thing, where(new-test is true, true-thing, false-thing))
df.loc[:, "HDI category"] = np.where(df["HDI rank"] > 155,
                                     "LOW HUMAN DEVELOPMENT",
                                     np.where(df["HDI rank"] > 70,
                                              "MEDIUM HUMAN DEVELOPMENT",
                                              "HIGH HUMAN DEVELOPMENT"
                                             )
                                    )
df.sort_values(by="HDI rank", inplace=True)
df.head()

,HDI rank,Country,Electricity consumption per capita (kilowatt-hours) 2004,Reference 1,Electricity consumption per capita (% change) 1990-2004,Reference 2,Electrification rate (%) 2000-05a,Reference 3,Population without electricity (millions) 2005,Reference 4,...,Reference 5,GDP per unit of energy use (% change) 1990-2004,Forest area % of total land area (%) 2005,Reference 6,Forest area Total (thousand sq km) 2005,Reference 7,Forest area Total change (thousand sq km) 1990-2005,Reference 8,Forest area Average annual change (%) 1990-2005,HDI category
0,1,Iceland,"29,430",NaN,66.4,NaN,100,NaN,..,NaN,...,NaN,-12.1,0.5,NaN,0.5,NaN,0.2,NaN,5.6,HIGH HUMAN DEVELOPMENT
1,2,Norway,"26,657",NaN,6.5,NaN,100,NaN,..,NaN,...,NaN,15.9,30.7,NaN,93.9,NaN,2.6,NaN,0.2,HIGH HUMAN DEVELOPMENT
2,3,Australia,"11,849",NaN,30.4,NaN,100,NaN,..,NaN,...,NaN,21.3,21.3,NaN,"1,636.8",NaN,-42.3,NaN,-0.2,HIGH HUMAN DEVELOPMENT
3,4,Canada,"18,408",NaN,5.9,NaN,100,NaN,..,NaN,...,NaN,12.5,33.6,NaN,"3,101.3",NaN,..,NaN,..,HIGH HUMAN DEVELOPMENT
4,5,Ireland,"6,751",NaN,62.7,NaN,100,NaN,..,NaN,...,NaN,81.9,9.7,NaN,6.7,NaN,2.3,NaN,3.4,HIGH HUMAN DEVELOPMENT

HDI rank                                                                                     157
Country                                                                                  Eritrea
Electricity consumption per capita (kilowatt-hours) 2004                                      67
Reference 1                                                                                  NaN
Electricity consumption per capita (% change) 1990-2004                                       ..
Reference 2                                                                                  NaN
Electrification rate (%) 2000-05a                                                             20
Reference 3                                                                                  NaN
Population without  electricity (millions) 2005                                              3.5
Reference 4                                                                                  NaN
GDP per unit of energy use (2000 PPP US$ per kg of oil equivalent) 2004                       ..
Reference 5                                                                                  NaN
GDP per unit of energy use (% change) 1990-2004                                               ..
Forest area % of total land area (%) 2005                                                   15.4
Reference 6                                                                                  NaN
Forest area Total (thousand sq km) 2005                                                     15.5
Reference 7                                                                                  NaN
Forest area Total change (thousand sq km) 1990-2005                                         -0.7
Reference 8                                                                                  NaN
Forest area Average annual change (%) 1990-2005                                             -0.3
HDI category                                                               LOW HUMAN DEVELOPMENT
Name: 156, dtype: object

In [150]:
destination = "data/world-urban-population-data.csv"
df.to_csv(destination, index=False)

In [153]:
ls data/

HDR_2007-2008_Table_22..xls*  world-urban-population-data.csv